.aboutUsBackgroundWrapper{
    position: relative;
    width: 95%;
    height: 100vh!important;
    overflow: hidden;

    .aboutUsBackground{
        position: absolute;
        width: 100%;
        object-fit: contain;
        filter: blur(3px);
        opacity: .20;
    }

    .aboutInformationWrapper {
        width: 80%;
        margin: auto;
        padding: 0;
    }

    .aboutInformation {
        position: absolute;
        font-size: 2.5rem;
        line-height: 2;
        color: white;;
    }
}