#carouselWrapper {
    position: relative;
    width: 75%;
    height: 800px;
    margin: auto;
    box-shadow: 3px 3px 10px $main-color-yellow;
    #carouselImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto!important;
    }

    #carouselHeader {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        width: 50%;
        height: 30%;
        background-color: $main-color-teal;
        opacity: .60;
        border: 4px solid white;
        border-radius: 2px;
        color: black;
        top: 60%;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .carouselArrows {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 2%;
        background-color: white;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
        }
    }
    #rightArrow {
        transform: rotate(180deg);
        left: 92%;
        
    }
}


@media only screen and (max-width: 1355px){
    #rightArrow {
        left: 92%!important;
    }
}

@media only screen and (max-width: 755px){
    #rightArrow {
        left: 75%!important;
    }

    .carouselArrows {
        top: 87%!important;
    }
}