.linkIconsWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;



    .linkIconsContainer{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .linkIconImg {
        width: 80px;
    }

    a {
        color: white;
    }
}