nav {
    box-shadow: 3px 3px 10px black;
    background-color: #5CE0D8;


    .logoAndNav {
        display: flex;
        border: 3px solid black;
    }
    .logo {
        margin-left: 25px;
    }
    
    .logoImg{
        width: 250px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px double #FFD700	;
    }

    .navUl {
        display: flex;
        align-items: center;
        justify-content: flex-start!important;
        margin-right: 30px;

    }
    .navLi {
        display: flex;
        align-items: center;
        justify-content: space-around;
        word-wrap: break-word;
        width: 200px;
        list-style: none;
        font-size: 40px;
        font-weight: 900;

        &:hover {
            transform: scale(1.1);
            text-decoration: overline;

        }
    }
    .navLinks {
        text-decoration: none!important;
        color: black;

    }
    .hamburgerMenu {
        width: 50px;
        cursor: pointer;
        display: none;
    }


}

@media screen and (max-width: 1355px) {

    .navUl, .navLi {
        display: none!important;
    }
    .hamburgerMenu {
        display: block!important;
        margin-right: 30px;
    }
    
  }


  @media screen and (max-width: 755px) {
    .hamburgerMenu {
        border-radius: 50%;
        margin-left: 15px;
        width: 60px!important;
    }
    
  }