doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Norican&display=swap" rel="stylesheet">
  body
    include html/nav.html
    block content
    include html/footer.html
