/* line 1, public/sass/_nav.scss */
nav {
  box-shadow: 3px 3px 10px black;
  background-color: #5CE0D8; }
  /* line 6, public/sass/_nav.scss */
  nav .logoAndNav {
    display: flex;
    border: 3px solid black; }
  /* line 10, public/sass/_nav.scss */
  nav .logo {
    margin-left: 25px; }
  /* line 14, public/sass/_nav.scss */
  nav .logoImg {
    width: 250px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px double #FFD700; }
  /* line 22, public/sass/_nav.scss */
  nav .navUl {
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    margin-right: 30px;
    white-space: nowrap; }
  /* line 30, public/sass/_nav.scss */
  nav .navLi {
    display: flex;
    align-items: center;
    justify-content: space-around;
    word-wrap: break-word;
    width: 200px;
    list-style: none;
    font-size: 40px;
    font-weight: 900; }
    /* line 40, public/sass/_nav.scss */
    nav .navLi:hover {
      transform: scale(1.1);
      text-decoration: overline; }
  /* line 46, public/sass/_nav.scss */
  nav .navLinks {
    text-decoration: none !important;
    color: black; }

@media only screen and (max-width: 1330px) {
  /* line 58, public/sass/_nav.scss */
  nav .introduction {
    display: none; }
  /* line 61, public/sass/_nav.scss */
  nav .navUl {
    width: 100% !important;
    padding: 0; } }

/* line 1, public/sass/_logo.scss */
.introduction {
  position: relative;
  font-family: 'Norican', cursive;
  width: 60%; }
  /* line 6, public/sass/_logo.scss */
  .introduction .logoDesign {
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
    color: black;
    left: 10px;
    position: relative;
    font-size: 6.09rem;
    text-shadow: 3px 3px 10px black;
    z-index: 1;
    letter-spacing: 2.5px; }
  /* line 21, public/sass/_logo.scss */
  .introduction .logoDesign::before {
    color: white;
    position: absolute;
    left: 10px;
    text-shadow: -3px -3px 5px white;
    content: 'Luckey Treasures';
    font-size: 6.1rem;
    z-index: 2;
    letter-spacing: 2px; }
  /* line 33, public/sass/_logo.scss */
  .introduction .logoDesign::after {
    font-size: 6rem;
    color: darkblue;
    position: absolute;
    left: 14px;
    text-shadow: 1px 1px 5px black;
    content: 'Luckey Treasures';
    letter-spacing: 2.8px;
    z-index: 1; }

@media screen and (max-width: 1355px) {
  /* line 47, public/sass/_logo.scss */
  .introduction {
    width: 95%; } }

@media screen and (max-width: 755px) {
  /* line 54, public/sass/_logo.scss */
  .introduction {
    width: 0; }
  /* line 57, public/sass/_logo.scss */
  .logoDesign {
    display: none !important; } }

/* line 1, public/sass/_index.scss */
#carouselWrapper {
  position: relative;
  width: 75%;
  height: 800px;
  margin: auto;
  box-shadow: 3px 3px 10px #FFCF43; }
  /* line 7, public/sass/_index.scss */
  #carouselWrapper #carouselImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto !important; }
  /* line 14, public/sass/_index.scss */
  #carouselWrapper #carouselHeader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    width: 50%;
    height: 30%;
    background-color: #5CE0D8;
    opacity: .60;
    border: 4px solid white;
    border-radius: 2px;
    color: black;
    top: 60%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  /* line 35, public/sass/_index.scss */
  #carouselWrapper .carouselArrows {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 2%;
    background-color: white;
    border-radius: 50%; }
    /* line 43, public/sass/_index.scss */
    #carouselWrapper .carouselArrows:hover {
      cursor: pointer; }
  /* line 47, public/sass/_index.scss */
  #carouselWrapper #rightArrow {
    transform: rotate(180deg);
    left: 92%; }

@media only screen and (max-width: 1355px) {
  /* line 56, public/sass/_index.scss */
  #rightArrow {
    left: 92% !important; } }

@media only screen and (max-width: 755px) {
  /* line 62, public/sass/_index.scss */
  #rightArrow {
    left: 75% !important; }
  /* line 66, public/sass/_index.scss */
  .carouselArrows {
    top: 87% !important; } }

/* line 1, public/sass/_aboutUs.scss */
.aboutUsBackgroundWrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }
  /* line 7, public/sass/_aboutUs.scss */
  .aboutUsBackgroundWrapper .servicesWrapper {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 5%;
    margin-bottom: 200px; }
  /* line 17, public/sass/_aboutUs.scss */
  .aboutUsBackgroundWrapper .servicesH1 {
    text-align: center;
    color: white; }
  /* line 22, public/sass/_aboutUs.scss */
  .aboutUsBackgroundWrapper .serviceIcons {
    width: 100%;
    height: 200px;
    object-fit: contain; }
  /* line 28, public/sass/_aboutUs.scss */
  .aboutUsBackgroundWrapper .servicesH3 {
    background-color: orange;
    width: 100%;
    border-radius: 2px;
    box-shadow: 3px 3px 5px black; }
  /* line 36, public/sass/_aboutUs.scss */
  .aboutUsBackgroundWrapper .aboutUsBackground {
    width: 100%;
    height: 300px;
    margin: auto;
    object-fit: cover;
    z-index: 1;
    margin-bottom: 100px; }
  /* line 49, public/sass/_aboutUs.scss */
  .aboutUsBackgroundWrapper .aboutInformationWrapper {
    position: relative;
    width: 80%;
    margin: auto;
    padding: 0;
    z-index: 2;
    gap: 60px; }
  /* line 59, public/sass/_aboutUs.scss */
  .aboutUsBackgroundWrapper .aboutInformation {
    text-align: left;
    font-size: 2.5rem;
    line-height: 2;
    color: white; }

/* line 1, public/sass/_footer.scss */
footer {
  width: 100%;
  height: 70px;
  background-color: black !important;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px; }
  /* line 12, public/sass/_footer.scss */
  footer .companyNameFooter {
    font-size: 1rem;
    word-wrap: break-word; }
  /* line 17, public/sass/_footer.scss */
  footer .socialMediaLogosWrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
  /* line 22, public/sass/_footer.scss */
  footer .socialMediaLogos {
    width: 50px;
    margin-left: 20px; }
    /* line 26, public/sass/_footer.scss */
    footer .socialMediaLogos:hover {
      animation-name: logoSize;
      animation-duration: 1.2s;
      transition: ease-in-out;
      transform: scale(1.1); }
  /* line 35, public/sass/_footer.scss */
  footer .contactUsFooter {
    cursor: pointer;
    margin-left: 100px; }
  /* line 40, public/sass/_footer.scss */
  footer .logoFooterWrapper {
    position: absolute;
    left: 20px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    box-shadow: 3px 3px 10px #5CE0D8; }
  /* line 47, public/sass/_footer.scss */
  footer .logoFooterImg {
    width: 80px; }

/* line 1, public/sass/_carousel.scss */
.buyButtonsWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 300px; }
  /* line 13, public/sass/_carousel.scss */
  .buyButtonsWrapper .buyButton {
    height: 50px;
    width: 200px;
    margin-top: 30px;
    font-size: 2rem;
    opacity: .60;
    border-radius: 10%;
    background-color: darkblue;
    color: white;
    box-shadow: black 3px 3px 10px; }
    /* line 23, public/sass/_carousel.scss */
    .buyButtonsWrapper .buyButton:hover {
      opacity: 1;
      box-shadow: -3px -3px 10px white; }

/* line 31, public/sass/_carousel.scss */
.carousel-item {
  height: 85vh; }
  /* line 35, public/sass/_carousel.scss */
  .carousel-item .d-block {
    height: 100%;
    object-fit: cover;
    background-size: cover;
    filter: brightness(0.7); }

/* line 44, public/sass/_carousel.scss */
#carouselExampleIndicators {
  width: 100%;
  margin: auto;
  margin-bottom: 50px; }

@media only screen and (max-width: 850px) {
  /* line 51, public/sass/_carousel.scss */
  .buyButtonsWrapper {
    gap: 100px; } }

/* line 1, public/sass/_featuredItems.scss */
.featuredItemsListWrapper {
  background-color: orange;
  width: 95%;
  height: auto;
  display: flex;
  margin: auto;
  margin-bottom: 50px; }
  /* line 15, public/sass/_featuredItems.scss */
  .featuredItemsListWrapper .necaIntroductionWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5rem; }
  /* line 24, public/sass/_featuredItems.scss */
  .featuredItemsListWrapper .necaIntroductionWrapper h1 {
    font-size: 6rem; }
  /* line 28, public/sass/_featuredItems.scss */
  .featuredItemsListWrapper necaIntroductionWrapper h3 {
    font-size: 3.5rem; }
  /* line 32, public/sass/_featuredItems.scss */
  .featuredItemsListWrapper .necaImgWrapper {
    width: 50%; }
  /* line 35, public/sass/_featuredItems.scss */
  .featuredItemsListWrapper .necaMainImg {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  /* line 41, public/sass/_featuredItems.scss */
  .featuredItemsListWrapper .posionArrowWrapper {
    display: flex; }
  /* line 45, public/sass/_featuredItems.scss */
  .featuredItemsListWrapper .posionArrowImages {
    margin-left: 10px;
    width: 50px; }
  /* line 50, public/sass/_featuredItems.scss */
  .featuredItemsListWrapper #poisonImgLink {
    background-color: white;
    filter: drop-shadow(3px 3px 8px black);
    border-radius: 50%; }
    /* line 54, public/sass/_featuredItems.scss */
    .featuredItemsListWrapper #poisonImgLink:hover {
      cursor: pointer; }

@media only screen and (max-width: 850px) {
  /* line 169, public/sass/_featuredItems.scss */
  .featuredItemsListWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    /* line 174, public/sass/_featuredItems.scss */
    .featuredItemsListWrapper .necaIntroductionWrapper {
      width: 100%; }
    /* line 178, public/sass/_featuredItems.scss */
    .featuredItemsListWrapper .necaImgWrapper {
      width: 100%; } }

/* line 1, public/sass/_linkIcons.scss */
.linkIconsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px; }
  /* line 10, public/sass/_linkIcons.scss */
  .linkIconsWrapper .linkIconsContainer {
    width: 80%;
    margin: auto;
    text-align: center; }
  /* line 15, public/sass/_linkIcons.scss */
  .linkIconsWrapper .linkIconImg {
    width: 80px; }
  /* line 19, public/sass/_linkIcons.scss */
  .linkIconsWrapper a {
    color: white; }

/* line 1, public/sass/_popFeatured.scss */
.popFunkoFeatured {
  width: 95%;
  height: auto;
  padding: 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  color: white; }
  /* line 20, public/sass/_popFeatured.scss */
  .popFunkoFeatured .popFeaturedImg {
    width: 400px;
    height: 200px;
    object-fit: cover; }
  /* line 26, public/sass/_popFeatured.scss */
  .popFunkoFeatured .longPopImage {
    width: 420px;
    height: 100% !important;
    margin-right: 2px; }
  /* line 33, public/sass/_popFeatured.scss */
  .popFunkoFeatured .popRowImgContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
    padding: 20px;
    border-radius: 10px; }
  /* line 44, public/sass/_popFeatured.scss */
  .popFunkoFeatured .popFeaturedIntro {
    grid-column: span 2;
    text-align: center; }
  /* line 50, public/sass/_popFeatured.scss */
  .popFunkoFeatured .popFeaturedIntro h1 {
    font-size: 4rem; }
  /* line 54, public/sass/_popFeatured.scss */
  .popFunkoFeatured .popFeaturedImgAll {
    filter: drop-shadow(3px 3px 10px black);
    border-radius: 10%; }
    /* line 57, public/sass/_popFeatured.scss */
    .popFunkoFeatured .popFeaturedImgAll:hover {
      cursor: pointer;
      animation-name: zoom-In;
      animation-duration: 1s; }
  /* line 65, public/sass/_popFeatured.scss */
  .popFunkoFeatured .popFeaturedOutro {
    grid-column: span 2;
    text-align: center;
    font-size: 3rem; }

@media only screen and (max-width: 850px) {
  /* line 75, public/sass/_popFeatured.scss */
  .popFunkoFeatured {
    flex-wrap: wrap; } }

/* line 16, public/sass/main.scss */
body {
  font-family: 'Akaya Telivigala', cursive;
  margin: 0;
  padding: 0;
  background-color: #01345B;
  overflow-x: hidden; }
