<div class="aboutUsBackgroundWrapper">
    <img class ="aboutUsBackground" src="/images/aboutUsBackground.jpg" alt="">
    <div class="aboutInformationWrapper">
        <p class="aboutInformation">
            My name is Jason and I am addicted to toys like many of you. As a child in the 80’s , He-Man , Gi Joe, and several other toy lines were what I grew up on. 
            One day back about 10 years ago, I found some of my old Gi Joes and had to learn how to repair them. That began my interest in toys, toy repair, and eBay became my best friend.  By then, I was hooked again to the memories and love of these toys that they gave me in my youth.</br></br> So I began buying and selling which helped me fund the purchases of all the toys from my youth. 
            I began to grow on social media with sales and loved the relationships and fun it brought to my life. Now, I decided to expand a bit and get my own webpage and help people collect things that give them joy and memories. 
            Thanks for visiting and I look forward to getting you your toy fix and needs for your growing collection.
        </p>
    </div>
</div>