<div class="aboutUsBackgroundWrapper">
    <img class ="aboutUsBackground" src="/images/aboutUsBackground.jpg" alt="">
    <div class="aboutInformationWrapper">
        <p class="aboutInformation">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, itaque quae voluptates quod minus magni, recusandae fuga et maxime fugiat veritatis nulla quam voluptatem perferendis iusto nemo nam nihil ducimus deleniti. Neque obcaecati vel voluptatibus! Sit quo aliquam natus error quia alias facilis officia earum, hic molestias perferendis ducimus quidem, fuga non cupiditate voluptatum qui placeat modi iure doloremque! Libero impedit vitae vel quia, rerum quo, id magni distinctio atque, in sunt. Sequi, itaque illum aut nulla dolorum maxime fuga temporibus, incidunt omnis quae architecto saepe aperiam iure earum. Aliquam, quas modi ex minima accusantium totam soluta blanditiis quae. Asperiores?
        </p>
    </div>
</div>