<footer>
    <div class="logoFooterWrapper">
        <img class="logoFooterImg" src="images/logoImg.jpg" alt="">
    </div>
    <p class="companyNameFooter">Luckey Treasures LLC</p>
    <div class="socialMediaLogosWrapper">
        <a href="#"><img class="socialMediaLogos" src="images/facebook.svg" alt="Facebook Link"></a>
        <a href="#"><img class="socialMediaLogos" src="images/instagram.svg" alt="Instagram Link"></a>
    </div>
    <div class="contactUsFooter"><a href="#">Contact Us</a></div>
</footer>