<nav>
    <div class="logoAndNav">
        <div class="introduction">
            <h1 class="logoDesign">Luckey Treasures</h1></div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="#">Shop</a></li>
        </ul>
        <img class="hamburgerMenu" src="images/hamburger.svg" alt="">
    </div>
    <!-- <div class="logo"><img class="logoImg" src="images/logoImg.jpg" alt="Luckey Treasures Logo"></div> -->



</nav>

