<nav>
    <div class="logoAndNav">
        <div class="introduction">
            <h1 class="logoDesign">Luckey Treasures</h1></div>
        <ul class="navUl">
            <li class="navLi"><a class="navLinks" href="/">Home</a></li>
            <li class="navLi"><a class="navLinks" href="/aboutUs">About Us</a></li>
            <li class="navLi"><a class="navLinks" href="#">Shop</a></li>
        </ul>
    </div>
    <!-- <div class="logo"><img class="logoImg" src="images/logoImg.jpg" alt="Luckey Treasures Logo"></div> -->



</nav>

